<html>
    <head>
        <title>Honey's blog</title>
    </head>
    <body>
    <div>
    <h1><a href="/"><p>Honey's blog</p></a></h1>

        <p><strong>Описание</strong></p>
        <p>Крайне интересный блог медового мужика.  В нем я буду рассказывать разного рода истории, произошедшие в жизни разных людей, например друга моего друга, ну или сына маминой подруги и все в этом духе. Не одна из историй не имеет ко мне никакого отношения конечно же. Истории из жизни поэтому вам понравятся, или нет. </p>
    </div>

    {% for post in posts %}
        <div>
            <p>опубликовано: {{ post.published_date }}</p>
            <h1><a href="">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
    {% endfor %}
